@import 'tailwindcss';

@import "tw-animate-css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* custom colors */
    --color-navbar-hover: var(--navbar-hover);

    --color-main-btn: var(--main-btn);

    --color-background-1: var(--background-1);
    --color-background-2: var(--background-2);
    --color-background-3: var(--background-3);
}

:root {
    /* Base values */
    --pure-white: oklch(1 0 0);
    --ink-black: oklch(0.145 0 0);

    /* Custom base values */
    --sandy-brown: oklch(0.7956 0.1191 59.11);
    --sunflower-gold: oklch(0.8092 0.1586 75.44);
    --cerulean: oklch(0.491 0.1031 234.27);
    --pearl-aqua: oklch(0.7772 0.0679 187.48);
    --banana-cream: oklch(0.9398 0.1487 102.66);



    /* light theme values */
    --background: var(--pure-white);
    --foreground: var(--ink-black);
    --card: var(--pure-white);
    --card-foreground: var(--ink-black);
    --popover: var(--pure-white);
    --popover-foreground: var(--ink-black);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: var(--sandy-brown);
    --sidebar-foreground: var(--ink-black);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);

    /* custom values */
    --navbar-hover: var(--sunflower-gold);
    --main-btn: var(--cerulean);

    --background-1: var(--pearl-aqua);
    --background-2: var(--banana-cream);
    --background-3: var(--sandy-brown);
}

.dark {
    --background: var(--ink-black);
    --foreground: oklch(0.985 0 0);
    --card: var(--ink-black);
    --card-foreground: oklch(0.985 0 0);
    --popover: var(--ink-black);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .title {
        @apply font-semibold text-[2rem];
    }

    .subtitle {
        @apply font-medium text-2xl;
    }

    .labor-text {
        @apply text-xl max-w-3xl;
    }

    .custom-btn {
        @apply p-1 py-2 rounded bg-main-btn flex justify-center w-full max-w-md /*mx-2*/ text-white font-medium text-xl;
    }

    /* Clientside specific style */
    .navbar {
        @apply min-h-16 flex justify-between bg-sidebar;
    }

    .navbar-item {
        @apply flex items-center justify-center h-full text-xl font-medium underline lg:px-4 hover:bg-navbar-hover;
    }

    .navbar-item-active>span {
        background: url("/resources/icons/active-navicon.svg") top left no-repeat;
        background-size: 24px 24px;
    }

    .client-bgimg {
        @apply relative;
        /*background: no-repeat url("/resources/svg/bg/background-1.svg") right center;
        background-size: cover;*/
    }

    .client-bgimg:before {
        @apply absolute top-0 left-0 right-0 bottom-0 -z-10 bg-background-1 bg-no-repeat;
        content: '';
        -webkit-clip-path: url("/resources/svg/bg/background.svg#1");
        clip-path: url("/resources/svg/bg/background.svg#1");
    }

    /*.client-bgimg:nth-child(4) {
        background-image: url("/resources/svg/bg/background-2.svg");
        background-position: left center;
    }

    .client-bgimg:nth-child(5) {
        background-image: url("/resources/svg/bg/background-3.svg");
    }

    .client-bgimg:nth-child(6) {
        background-image: url("/resources/svg/bg/background-4.svg");
        background-position: left center;
    }
    .client-bgimg:nth-child(7) {
        background-image: url("/resources/svg/bg/background-3.svg");
        background-position: left center;
    }*/

    /*.client-bgimg:before {
        @apply absolute w-full h-full -z-10;
        content: '';
    }

    .client-bgimg:nth-child(2):before {
        clip-path: url("/resources/svg/bg/background-2.svg#main");
    }*/
}
